- javascript "/ampie/swfobject.js"
- javascript 'jquery.fancybox-1.3.3.pack.js'
- stylesheet 'jquery.fancybox-1.3.3.css'

%h2 Targets vs Budgets
= render 'charts'

%ul.activity_tree.targets
  - @code_roots.each do |code|
    = render 'code_row', :code => code
