#main-nav
  .wrapper
    %ul
      %li{ :class => controller.controller_name == 'dashboard' ? "active" : '' }= link_to "Dashboard", user_dashboard_path(current_user)
      %li{ :class => active_tab?('my_data') ? "active" : ''}
        = link_to 'My Data', current_user && current_user.current_data_response ? start_data_response_path(current_user.current_data_response) : ''
      %li{ :class => active_tab?('reports') ? "active" : ''}
        = link_to 'Reports', current_user.role?(:admin) ? admin_reports_path : reports_path
      %li{ :class => active_tab?('help') ? "active" : ''}
        = link_to 'Help', static_page_path(:help)
